---
layout: home

hero:
  name: "Pancolle Docs"
  text: "パンコレの開発ドキュメント"
  tagline: "冷凍庫のパンとスープの在庫を管理するアプリの仕様書"
  actions:
{% for category in categories %}
    - theme: {% if loop.first %}brand{% else %}alt{% endif %}
      text: {{ category.actionText }}
      link: /{{ category.dir }}/
{% endfor %}
---
